<div id="landing">
  <div id="landing-inner">
    <div id="landing-title">
      <h1> Welcome to Calorie Tracker.</h1>
      <h3>Track your daily calorie intake and adjust your menu appropriately. Being aware of the food you eat
        is the best way to stay healthy. It's easier than you think! </h3>
      <br>
      <%= button_tag(:class => "waves-effect waves-light btn") do %>
          Signup/Login <i class="material-icons left">lock_outline</i>
      <% end %>
    </div>
  </div>
</div>