<div id="landing">
  <div id="landing-inner">
    <div id="landing-title">
      <h1> Welcome to Calorie Tracker.</h1>
      <h3>Track your daily calorie intake and adjust your menu appropriately. Being aware of the food you eat
        is the best way to stay healthy. It's easier than you think! </h3>
      <br>
      <%= link_to signup_path, class: "waves-effect waves-light btn" do %>
          <i class="material-icons left">lock_outline</i>Sign Up/Log in
    <% end %>
    </div>
  </div>
</div>

<!-- Page-specific styles -->
<style>header, main, footer {
  padding-left: 0;
}</style>