<div id="landing">
  <div id="landing-inner">
    <div id="landing-title">
      <h4>Create a new account</h4>
    </div>
  </div>
</div>

<!-- Page-specific styles -->
<style>header, main, footer {
  padding-left: 0;
}</style>