<div id="landing">
  <div id="landing-inner">
    <div id="landing-title">
      <div class="row center">
        <%= render 'layouts/user_form' %>

      </div>
    </div>
  </div>
</div>

<!-- Page-specific styles -->
<style>header, main, footer {
  padding-left: 0;
}</style>