body {
  display: flex;
  min-height: 100vh;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  -webkit-align-content: stretch;
  align-content: stretch;
}

main {
  flex: 1;
  -webkit-flex: 1;
  display: flex;
  display: -webkit-flex;
}

header, main, footer {
  padding-left: 240px;
}

a {
  color: #000;
}

@media only screen and (max-width: 992px) {
  header, main, footer {
    padding-left: 0;
  }
}

