#landing {
  position: relative;
  flex: 1;
  display: flex;
  display: -webkit-flex;
  background: url("https://s3-eu-west-1.amazonaws.com/myimgs89/HKK-min.png") no-repeat center;
  background-size: cover;
  height: calc(100vh - 64px);
}

#landing-inner {
  height: inherit;
  width: 100%;
  color: white;
  background-color: rgba(0, 0, 0, 0.44);
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
}

#landing-title {
  width: 50%;
  text-shadow: 1px 1px #000;
}
