/* Overridden styles from materialize go here, except default colors */

/* Remove top margin from footer */
footer.page-footer {
  margin-top: 0;
}

/* label color */
.input-field label {
  color: #000;
}

/* label focus color */
.input-field input[type=text]:focus + label {
  color: #000;
}

/* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
}

/* Float icon right instead of left in collapsible list */
.collapsible-header i {
  float: right;
}

/* Decrease padding for paragraphs inside collapsible-body */
.collapsible-body {
  max-height: 300px;
  overflow: auto;
  padding-top: 10px;
  background-color: #ede7f6;

  p {
    padding: 0.3rem 1rem;
  }
}

/* Keep the default table padding */
.td, .th {
  padding: 15px !important;
}

/* Custom collapsible header padding */
.header-custom {
  padding: 0;
}

.collapsible-header {
  position: relative;

  .dropdown-content {
    opacity: 1;
    right: 0;
    top: 0;
  }
}

.datepicker {
  text-align: center;
}