/* Overridden styles from materialize go here, except default colors */

/* Remove top margin from footer */
footer.page-footer {
  margin-top: 0;
}

/* label color */
.input-field label {
  color: #000;
}

/* label focus color */
.input-field input[type=text]:focus + label {
  color: #000;
}

/* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
}

/* Float icon right instead of left in collapsible list */
.collapsible-header i {
  float: right;
}