// Place all the styles related to the Serving controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "variables";

.title {
  font-size: 16px;
}

.loader-container {
  text-align: center;
  min-height: 300px;
  display: block;
  position: relative;

  img {
    position: absolute;
    top: 50%;
    left: 50%;
    @include transform(translateY(-50%) translateX(-50%));
  }
}

.no-results {
  padding: 15px;
}

#add-food {
  bottom: 20%;
  right: 10%;
}

.meal-title {
  position: absolute;
  right: 50px;
  font-size: 12px;
  color: white;
  @include transform(scaleY(0.4) scaleX(0.4) translateY(40px) translateX(0px));
  opacity: 0;
  @include transition(.3s);

  &.active {
    @include transform(scaleY(1) scaleX(1) translateY(0px) translateX(0px));
    opacity: 1;
  }
}

.cover {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  @include transition(.3s);

  &.active {
    background-color: rgba(0, 0, 0, 0.56);
    display: block;
  }
}

.collection .collection-item.highlighted {
  background: #ede7f6;;
}

.hold-menu {
  position: relative;

  &:hover {
    cursor: pointer;
    background-color: darken($background-light, 10%);
  }

  .mask {
    display: none;

    .btn-flat {
      display: none;
    }
  }
}

#delete {
  display: inline-block;
  margin-left: -25px;
}

@media only screen and (max-width: 1024px) {
  .hold-menu {
    position: relative;

    &.active > .mask {
      display: block;
    }

    .mask {
      background-color: rgba(128, 128, 128, 0.9);
      display: none;
      position: absolute;
      left: 0;
      top: -10px;
      height: calc(100% + 20px);
      width: 100%;

      .btn-flat {
        display: inline-block;
        position: absolute;
        right: 10px;
        top: 50%;
        @include transform(translateY(-50%));
        height: 40px;

        .material-icons {
          font-size: 22px;
          color: #fff;
          position: absolute;
          top: 5px;
          right: 15px;
        }
      }
    }
  }

  #delete {
    display: none;
  }
}