/* CSS3 cross-browser helpers */
@mixin transition($param) {
  transition: $param;
  -webkit-transition: $param;
  -moz-transition: $param;
  -o-transition: $param;
  -ms-transition: $param;
}

@mixin transform($param) {
  transform: $param;
  -webkit-transform: $param;
  -moz-transform: $param;
  -o-transform: $param;
  -ms-transform: $param;
}

@mixin transform-origin($param) {
  -webkit-transform-origin: $param;
  transform-origin: $param;
}

@mixin animation($param) {
  -webkit-animation: $param;
  -moz-animation: $param;
  animation: $param;
}

@mixin backface-visibility($param) {
  -webkit-backface-visibility: $param;
  backface-visibility: $param;
}

@mixin box-shadow($params: 3px 6px 6px 6px #aaa) {
  -moz-box-shadow: $params;
  -webkit-box-shadow: $params;
  box-shadow: $params;
}

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
