<footer class="page-footer">
  <div class="footer-copyright">
    <div class="container">
      <div class="row">
        <div class="col m6 s12">
          © 2016 Calorie Tracker. Powered by <a href="http://www.nutritionix.com/api">Nutritionix API</a>.
        </div>
        <div class="col m6 s12 right-align">
          <%= link_to "About", about_path %>
          <%= link_to "Contact", contact_path %>
        </div>
      </div>
    </div>
  </div>
</footer>