<ul id="slide-out" class="side-nav fixed user">
    <li class="page-logo">
        <img src="<%= asset_path('logo.png') %>">
    </li>
    <li><%= link_to controller: "servings" do %>
            <i class="material-icons nav-icon">web</i> Tracker
        <% end %>
    </li>
    <li><%= link_to edit_user_path(current_user) do %>
            <i class="material-icons nav-icon">perm_identity</i> Profile
        <% end %>
    </li>
    <li>
        <%= link_to logout_path, method: "delete" do %>
            <i class="material-icons nav-icon">power_settings_new</i> Log out
        <% end %>
    </li>
</ul>