<nav class="top-nav">
  <div class="container">
    <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
    <div class="nav-wrapper">
      <%= link_to "Calorie Tracker", root_path, class: "brand-logo" %>
    </div>
  </div>
</nav>